{% macro render_item(item, show_form=False) %}
<div class="card shadow-0 border rounded-3 col-12">
    <div class="card-body d-flex">
        <div class="col-md-5">
            <h5>{{ item['product_name'] }}</h5>
            <div class="mt-1 mb-0 text-muted small">
                <span>Категория: {{ item['category'] }}</span>
            </div>
            <div class="mb-2 text-muted small">
                <span>Страна: {{ item['country'] }}</span>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="vr col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="d-flex flex-row align-items-center mb-1">
                <h5 class="mb-1 me-1">{{ item['price'] }} ₽</h5>
                {% if not show_form %}
                <a href="{{ url_for('bp_order.delete_from_basket', id_product=item['id_product']) }}" style="color: #9f9f9f"
                   class="ms-auto">
                    <i class="fa fa-times"></i>
                </a>
                {% endif %}
            </div>
            {% if show_form and item['available_quantity'] > 0 %}
            <h6 class="text-success">{{ item['available_quantity'] }} шт.</h6>
            <div class="d-flex flex-column mt-3">
                <form action="" method="POST">
                    <input type="hidden" name="id_product" value="{{ item['id_product'] }}">
                    <input type="submit" name="action" class="btn btn-primary" value="Добавить">
                </form>
            </div>
            {% elif show_form %}
            <p class="text-danger">Нет в наличии</p>
            {% else %}
            <div class="col-12">
                <label for="amount" class="text-muted small col-12">Количество:</label>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('bp_order.edit_amount_basket', id_product=item['id_product'], value='-1') }}" class="col-2">
                        <i class="fa fa-minus"></i>
                    </a>
                    <div class="col-6">
                        <form action="amount" method="POST">
                            <input id="amount" min="1" max="{{ item['available_quantity'] }}" name="amount"
                                   value="{{ item['amount'] }}" type="number" class="form-control form-control-sm"
                                   onblur="form.submit()"/>
                            <input type="hidden" value="{{ item['id_product'] }}" name="product">
                        </form>

                    </div>
                    <a href="{{ url_for('bp_order.edit_amount_basket', id_product=item['id_product'], value='1') }}" class="col-2">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}