<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <div>
        <h2>Войти</h2>
        <form action="" method="post">
            <label for="login">Логин</label>
            <input type ="text" name="login" id="login">
            <br><br>
            <label for="password">Пароль</label>
            <input type ="password" name="password" id="password">
            <br><br>
            <button type="submit">Отправить</button>
            <button type="reset">Очистить</button>
        </form>
        <p>{{ error }}</p>
    </div>
</body>
</html>